@use 'mixins' as *;
@use 'functions' as *;

:root {


  // colors
  --color-bg-primary: #ffffff; // Основной фон (белый)
  --color-bg-secondary: #f5f5f5; // Вторичный фон (светло-серый)
  --color-bg-sidebar: #1a1e24; // Фон сайдбара (темно-серый)

  --color-text-primary: #212529; // Основной текст (черный)
  --color-text-secondary: #6c757d; // Вторичный текст (серый)
  --color-text-sidebar: #8e9aab; // Текст в сайдбаре (светло-серый)
  --color-text-sidebar-hover: #ffffff;
  --color-heading-primary: #1a1e24;    // Главные заголовки (h1) - темный
  --color-heading-secondary: #212529; // Текст в сайдбаре при наведении (белый)

  --color-accent: #0d6efd; // Акцент (синий) - кнопки, активные ссылки
  --color-accent-hover: #0b5ed7; // Акцент при наведении (темно-синий)

  --color-danger: #dc3545; // Красный - удаление, ошибки
  --color-success: #48c36b; // Зеленый - успех, статус "Свободен"
  --color-yellow: #d3e959;

  --color-border: #e0e0e0; // Цвет границ
  --color-hover: #f5f5f5; // Цвет hover для строк

  --color-bg-dark: #c4c9d8;


  // typography

  --font-family-base: 'Roboto, sans-serif';

  --transition-duration: 0.2s;

  --border: 1px solid var(--color-border);
}