//.sidebar {
//
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  gap: 30px;
//
//  &__user {
//    margin-block: 20%;
//    position: relative;
//
//    &-avatar {
//      max-width: 100%;
//      aspect-ratio: 1/1;
//      border-radius: 100%;
//
//    }
//
//    &-settings {
//      position: absolute;
//      bottom: 0;
//      right: 0;
//      border-radius: 100%;
//      background-color: #fff;
//      border: none;
//    }
//
//  }
//
//  &__nav {
//    display: flex;
//    align-items: center;
//    justify-content: center;
//  }
//
//  &__menu{
//    display: flex;
//    flex-direction: column;
//    list-style: none;
//    padding: 0;
//    text-align: center;
//    gap: 30px;
//
//    &-link{
//      text-transform: capitalize;
//      color: var(--color-heading-primary);
//
//
//      &--active {
//        border-bottom: 2px solid #2ecc71;
//        padding-bottom: 4px;
//      }
//    }
//  }
//}
//
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &__user {
    margin-block: 20%;
    position: relative;

    &-avatar {
      max-width: 100%;
      aspect-ratio: 1/1;
      border-radius: 100%;
    }

    &-settings {
      position: absolute;
      bottom: 0;
      right: 0;
      border-radius: 100%;
      background-color: #fff;
      border: none;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    text-align: center;
    gap: 30px;

    &-link {
      position: relative;
      display: inline-block;
      text-transform: capitalize;
      color: var(--color-heading-primary);
      text-decoration: none;
      padding-bottom: 8px;
      transition: color 0.3s ease;


      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #2ecc71;
        transition: width 0.3s ease;
      }


      &:hover::after {
        width: 105%;
        opacity: 0.5;
      }


      &--active {

        &::after {
          width: 100%;
          left: 0;
          transform: none;
        }
      }
    }
  }
}